.main_container {
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: #141414;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#resume {
  background-color: #282828;
  overflow: auto;
}

#profile_picture {
  float: left;
  margin: 1rem;
}

#name_title {
  display: inline;
  float: left;
  margin: 1rem;
  position: relative;
}

.my_info {
  text-align:right;
}

#contact {
  display: inline;
  float: left;
  margin-top: 1rem;
  text-align: right;
  position: relative;
}

#contact_info {
  display: inline;
  float: left;
  margin-top: 1rem;
  text-align: left;
  color: #838383;
  position: relative;
}

#bio {
  display: inline;
  float: left;
  margin: 1rem;
  position: relative;
}

#title {
  color: #2e8dc8;
}

h1 {
  color: white;
  padding: 0rem;
  margin: 0rem;
}

h2 {
  color: white;
  padding: 0rem;
  margin: 0rem;
  display: inline-block;
}

strong {
  color: white;
}

p {
  color: #838383;
}

p span {
  vertical-align: middle;
}

ul {
  list-style-type: none;
  color: #838383;
}

#arrow1big {
  display: inline-block;
  background-color: #44A5D2;
  padding: 20px 20px;
  padding-top: 25px;
  border-radius: 5px;
}

#arrow2big {
  display: inline-block;
  background-color: #69A333;
  padding: 20px 20px;
  padding-top: 25px;
  border-radius: 5px;
}

#arrow1small {
  display: inline-block;
  background-color: #44A5D2;
  padding: 10px 10px;
  padding-top: 10px;
  border-radius: 100px;
}

#arrow2small {
  display: inline-block;
  background-color: #69A333;
  padding: 10px 10px;
  padding-top: 10px;
  border-radius: 100px;
}

.arrow_large {
  border: solid rgb(255, 255, 255);
  border-width: 0 0.3rem 0.3rem 0;
  display: inline-block;
  padding: 0.3rem;
}

.arrow_small {
  border: solid rgb(255, 255, 255);
  border-width: 0 0.3rem 0.3rem 0;
  display: inline-block;
  padding: 0.3rem;
}

.right {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#employement {
  float: left;
}

#education {
  float: left;
  width: 100%;
}

.gray_background {
  background-color: #373737;
}

#section1 {
  float: left;
}

#section2 {
  float: left;
  margin: 1rem;
  width: 65%;
  margin-bottom: 10rem;
  margin-top: 4rem;
}

#section3 {
  float:right;
  margin: 1rem;
  width: 30%;
  margin-top: 4rem;
}

#category {
  padding: 1rem;
}

.company {
  display: inline-block;
  color: #F8FBF9;
  margin-left: 1.5rem;
}

.year {
  float: right;
  color: #686868;
}

.role {
  margin-left: 4rem;
  margin-top: -30px;
}

h3 {
  font-size: 1.3rem;
}

.duty {
  color: #838383;
  list-style-type:circle;
  margin-left: -80px;
  margin-top: -15px;
}

.duty li {
  padding-top: 1rem;
}

.solid {
  background-color: #373737;
  height: 4px;
  border-radius: 20px;
  width: 95%;
  border:none;
}

.dashed {
  width: 95%;
  border: 2px dashed #373737;
}

.skills {
  margin-bottom: 6rem;
}

.skills h2 {
  margin-bottom: 2rem; 
}

.skills h3 {
  font-size: 1.2rem;
  color: #82848D;
}

.content_box {
  box-sizing: content-box
}

.border_box {
  box-sizing: border-box;
}

.progress_box_outer {
  width: 100%;
  height: 1.5rem;
  background: #3B3B3B;
}

.progress_box_inner {
  height: 1.5rem;
  background: yellow;
  text-align: right;
  font-weight: bold;
  color: white;
}

.brown {
  width: 92%;
  background-color: #6A4622;
}

.light_blue {
  width: 80%;
  background-color: #44A5D1;
}

.green {
  width: 75%;
  background-color: #69A333;
}

.yellow {
  width: 50%;
  background-color: #CC971E;
}

.red {
  width: 63%;
  background-color: #CD2B0A
}

.purple {
  width: 71%;
  background-color: #B208FF;
}

.brown_bullet {
  width: 1rem;
  height: 1rem;
  white-space: nowrap;
  background-color: #6A4622;
}

.light_blue_bullet {
  width: 1rem;
  height: 1rem;
  white-space: nowrap;
  background-color: #44A5D1;
}

.green_bullet {
  width: 1rem;
  height: 1rem;
  white-space: nowrap;
  background-color: #69A333;
}

.yellow_bullet {
  width: 1rem;
  height: 1rem;
  white-space: nowrap;
  background-color: #CC971E;
}

.red_bullet {
  width: 1rem;
  height: 1rem;
  white-space: nowrap;
  background-color: #CD2B0A;
}

.purple_bullet {
  width: 1rem;
  height: 1rem;
  white-space: nowrap;
  background-color: #B208FF;
}

.g_skills {
  padding-left: 2rem;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #191919;
  border-radius: 50%;
  display: inline-block;
  border: solid 0.3rem #363636;
}

.light_blue_circle {
  background-color: #44A5D1;
}

.green_circle {
  background-color: #69A333
}

.language p {
  font-size: 1.4rem;
  font-weight: bold;
  color: #838383;
  padding-right: 80px;
  display: inline-block;
}